.customButton {
  display: flex;
  align-items: center;
  position: relative;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  margin-block: 5px;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #2682a057;
    width: 35px;
    height: 35px;
    transition: all 0.3s ease;
  }
  &:hover {
    svg {
      transform: translateX(0);
    }
    &:before {
      width: 100%;
      background: #18394973;
    }
    p {
      //color: #234567 !important;
    }
  }
  &:active {
    transform: scale(0.95);
  }
  p {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #FFFFFF;
  }
  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #FFFFFF;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
}